/JavaApplication2/nbproject/private/
/algoritmos/nbproject/private/
/algoritmos/build
/comercial/build/
/fundamentos/nbproject/private/
/numero.par/nbproject/private/
/numero.par/build/
/Web/nbproject/private/
/Web/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/fechas/nbproject/private/
/fechas/build/
/menejoUsuarios/nbproject/private/
/menejoUsuarios/build/
/imagenFondo/nbproject/private/